/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('images/background color.jpeg'); /* Path to background image */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 20px;
    text-align: center;
}

#games {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.game img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}