body {
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'Arial', sans-serif;
}

#games {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.game {
    text-align: center;
    margin: 15px;
    width: 278px; 
}

.game img {
    width: 278px;
    height: 358px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'Arial', sans-serif;
}